@model IEnumerable<ChannelEngine.Application.Models.ProductSalesDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Top sold product</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GTIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSoldQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GTIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSoldQuantity)
            </td>
        </tr>
}
    </tbody>
</table>
